<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>column layout | 1</title>
    <link rel="stylesheet" href="css/column-1.css">
</head>
<body>
    <main>
        <h1>Column layout practice one</h1>
        <article class="one">
            <h2>Article One</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere cum eius aliquid quis minus quidem inventore architecto, minima placeat sint! Adipisci repudiandae commodi sapiente praesentium dolorum, optio neque id dolorem laudantium. Error eveniet officia dolore aspernatur rem at voluptate explicabo. Aspernatur dolor ab, eum maxime quibusdam laborum saepe odio aliquid mollitia. Doloribus explicabo nostrum incidunt consequatur nihil animi minima laborum magnam, illum porro, omnis expedita quisquam repellat repellendus eligendi fuga dicta. Explicabo, modi quos, labore quam, aliquid rem eos doloremque corporis quaerat nobis pariatur soluta ullam aut inventore. Sapiente ratione labore voluptas cumque officia quo consectetur reiciendis ut modi?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolor expedita tempore rerum optio sunt nemo eos quisquam ducimus, quas omnis vel quibusdam, accusantium rem! Iusto expedita numquam sequi rem totam quos quibusdam ratione nostrum tenetur. Repellendus nemo maiores impedit id aut dolor asperiores blanditiis dignissimos! Fuga voluptatibus porro illo! Quam repellat modi asperiores reiciendis eveniet saepe, necessitatibus eaque atque pariatur dicta laboriosam iusto, aperiam ipsum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae ipsa necessitatibus, tempora dolorem vel laboriosam. Nemo laboriosam ducimus nisi eos iste neque excepturi odio atque harum sint! Voluptatibus voluptates rerum, quia sed ducimus suscipit doloribus nisi inventore aliquam illo magnam nostrum perferendis enim dolorem, maiores praesentium cum? Accusantium ad optio minus non, debitis impedit numquam. Dicta numquam ipsa quod nesciunt molestiae. Architecto, exercitationem voluptate cupiditate quibusdam dolores consequatur reprehenderit. Sequi, quos! Quia cupiditate fugiat ad explicabo possimus a sapiente tempora quod quaerat saepe quisquam eligendi quam provident officia distinctio, perferendis nostrum cum! Aliquid, voluptatibus quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit velit ipsam ducimus! Maxime saepe possimus cupiditate voluptatem, itaque architecto sunt optio eum ex et rem pariatur odio vitae dicta placeat inventore quas praesentium in blanditiis nisi tempore. Dicta rem aut aspernatur delectus. Voluptatem, ea animi impedit commodi nam pariatur ipsum illo, in qui, consectetur sapiente id.
        </article>  
        <article class="two">
            <h2>Article Two</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere cum eius aliquid quis minus quidem inventore
            architecto, minima placeat sint! Adipisci repudiandae commodi sapiente praesentium dolorum, optio neque id dolorem
            laudantium. Error eveniet officia dolore aspernatur rem at voluptate explicabo. Aspernatur dolor ab, eum maxime
            quibusdam laborum saepe odio aliquid mollitia. Doloribus explicabo nostrum incidunt consequatur nihil animi minima
            laborum magnam, illum porro, omnis expedita quisquam repellat repellendus eligendi fuga dicta. Explicabo, modi quos,
            labore quam, aliquid rem eos doloremque corporis quaerat nobis pariatur soluta ullam aut inventore. Sapiente ratione
            labore voluptas cumque officia quo consectetur reiciendis ut modi?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolor expedita tempore rerum optio sunt nemo eos quisquam
            ducimus, quas omnis vel quibusdam, accusantium rem! Iusto expedita numquam sequi rem totam quos quibusdam ratione
            nostrum tenetur. Repellendus nemo maiores impedit id aut dolor asperiores blanditiis dignissimos! Fuga voluptatibus
            porro illo! Quam repellat modi asperiores reiciendis eveniet saepe, necessitatibus eaque atque pariatur dicta laboriosam
            iusto, aperiam ipsum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae ipsa necessitatibus, tempora dolorem vel
            laboriosam. Nemo laboriosam ducimus nisi eos iste neque excepturi odio atque harum sint! Voluptatibus voluptates rerum,
            quia sed ducimus suscipit doloribus nisi inventore aliquam illo magnam nostrum perferendis enim dolorem, maiores
            praesentium cum? Accusantium ad optio minus non, debitis impedit numquam. Dicta numquam ipsa quod nesciunt molestiae.
            Architecto, exercitationem voluptate cupiditate quibusdam dolores consequatur reprehenderit. Sequi, quos! Quia
            cupiditate fugiat ad explicabo possimus a sapiente tempora quod quaerat saepe quisquam eligendi quam provident officia
            distinctio, perferendis nostrum cum! Aliquid, voluptatibus quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit velit ipsam ducimus! Maxime saepe possimus cupiditate
            voluptatem, itaque architecto sunt optio eum ex et rem pariatur odio vitae dicta placeat inventore quas praesentium in
            blanditiis nisi tempore. Dicta rem aut aspernatur delectus. Voluptatem, ea animi impedit commodi nam pariatur ipsum
            illo, in qui, consectetur sapiente id.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere cum eius aliquid quis minus quidem inventore
            architecto, minima placeat sint! Adipisci repudiandae commodi sapiente praesentium dolorum, optio neque id dolorem
            laudantium. Error eveniet officia dolore aspernatur rem at voluptate explicabo. Aspernatur dolor ab, eum maxime
            quibusdam laborum saepe odio aliquid mollitia. Doloribus explicabo nostrum incidunt consequatur nihil animi minima
            laborum magnam, illum porro, omnis expedita quisquam repellat repellendus eligendi fuga dicta. Explicabo, modi quos,
            labore quam, aliquid rem eos doloremque corporis quaerat nobis pariatur soluta ullam aut inventore. Sapiente ratione
            labore voluptas cumque officia quo consectetur reiciendis ut modi?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolor expedita tempore rerum optio sunt nemo eos quisquam
            ducimus, quas omnis vel quibusdam, accusantium rem! Iusto expedita numquam sequi rem totam quos quibusdam ratione
            nostrum tenetur. Repellendus nemo maiores impedit id aut dolor asperiores blanditiis dignissimos! Fuga voluptatibus
            porro illo! Quam repellat modi asperiores reiciendis eveniet saepe, necessitatibus eaque atque pariatur dicta laboriosam
            iusto, aperiam ipsum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae ipsa necessitatibus, tempora dolorem vel
            laboriosam. Nemo laboriosam ducimus nisi eos iste neque excepturi odio atque harum sint! Voluptatibus voluptates rerum,
            quia sed ducimus suscipit doloribus nisi inventore aliquam illo magnam nostrum perferendis enim dolorem, maiores
            praesentium cum? Accusantium ad optio minus non, debitis impedit numquam. Dicta numquam ipsa quod nesciunt molestiae.
            Architecto, exercitationem voluptate cupiditate quibusdam dolores consequatur reprehenderit. Sequi, quos! Quia
            cupiditate fugiat ad explicabo possimus a sapiente tempora quod quaerat saepe quisquam eligendi quam provident officia
            distinctio, perferendis nostrum cum! Aliquid, voluptatibus quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit velit ipsam ducimus! Maxime saepe possimus cupiditate
            voluptatem, itaque architecto sunt optio eum ex et rem pariatur odio vitae dicta placeat inventore quas praesentium in
            blanditiis nisi tempore. Dicta rem aut aspernatur delectus. Voluptatem, ea animi impedit commodi nam pariatur ipsum
            illo, in qui, consectetur sapiente id.
        </article>    
    </main>
</body>
</html>